* {
    box-sizing: border-box;
}

body {
    margin: 05px;
}

nav {
    background-color: rgb(131, 135, 192);
    overflow: hidden;
}

a {
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 20px 25px;
}

a:hover {
    background-color: turquoise;
}

.left {
    float: left;
    width: 80%;
}

.right {
    float: right;
}